*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;

}


.navBar{
    display: flex;
    justify-content: space-around; 
 background-color: aquamarine;
   padding-top: 40px;
 position: relative;
}
.navbar-menu li{
display: inline-block;
 margin: 0 40px;

}
.navbar_icon{
    display: none;
}
.btn{
    width: 100px;
     height: 30px;
    background-color: blue;
}
.navBar_js{
    width: 100%;
    height: 100vh;
    overflow: visible;

}
.responsive{
    display: none;
}
.responsive_show{
    overflow: hidden;
    color: antiquewhite;
display: flex;
gap: 20px;
justify-content: center;
flex-direction: column;
align-items: center;
    text-align: center;
    position: absolute;
    top: 40%;
    font-size: 20px;
    left: 35%;
  
   
}
a{
    color: aliceblue;
    font-size: 30px;
}
@media screen and (max-width: 768px){
.navbar_icon{
    display: block;
    position: fixed;
   cursor: pointer;
   font-size: 20px;
    padding-left: 120px;
}
.navbar-menu ,.btn{
    display: none;
}
}